<div class="container">
    <h1>
      Welcome to {{ title }}!
    </h1>
     <h2>create</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name"
        name="name"[(ngModel)]="model.name" placeholder="Enter name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="position">Position:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="position" 
        name="position"[(ngModel)]="model.position" placeholder="Enter position">
      </div>
    </div>
      <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" (click)="addMember()">Save</button>
      </div>
    </div>
  </form>
  <h2>read</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width:400>name</th>
        <th width:400>position</th>
        <th width:200>actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mem of members,let i=index">
        <td>{{mem.name}}</td>
        <td>{{mem.position}}</td>
        <td>
          <a class="btn btn-success" (click)="editMember(i)">Edit</a>
          <a class="btn btn-danger" (click)="deleteMember(i)" >delete</a>
        </td>
      </tr>   
     </tbody>
  </table>
  <h2>update</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name"
        name="name"[(ngModel)]="model2.name" placeholder="Enter name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="position">Position:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="position" name="position"
        [(ngModel)]="model2.position" placeholder="Enter position">
      </div>
    </div>
      <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" (click)="updateMember()">update</button>
      </div>
    </div>
  </form>
  </div>
  
  