<div class="container-fluid">
  <img src="../assets/images/back.png" class="back">
  <div class="row aa">

    <div class="col-sm-2 a">

      <p class="red"><b>Getaco</b></p>
      <p class="red1">SoundCloud Limited

        <button type="button" class="basic">BASIC</button></p>

      <div class="second">
        <div class="vertical-menu ">
          <a class="active"><i class="fa fa-home "> </i> <span class="home">HOME</span></a>
          <a><i class="fa fa-filter "></i><span class="home">CUSTOMER</span></a>
          <a><i class="fa fa-file "></i><span class="home"> FORM</span></a>
          <a><i class="fa fa-search "> </i><span class="home">REPORT</span></a>
          <a><i class="fa fa-user "> </i><span class="home"> USER</span></a>
          <a><i class="fa fa-hashtag "> </i> <span class="home">SETTINGS</span></a>
        </div>
      </div>
      <p class="red2">Unlock more powerfull features</p>

      <button type="button" class="btn waves-effect basic1">UPGRADE TO PRO</button>
    </div>
    <div class="col-sm-10 b">
      <div class="nav">
        <div class="p">
          <select class="pp">
            <option>ALL CUSTOMER</option>
            <option>Guna</option>
            <option>Semalai</option>
            <option>Achu</option>
          </select>
        </div>
        <div class="q">
          <form>
            <a class="btn"><i class="fa fa-search qqq "></i></a>
            <input type="text" class="qq" placeholder="Search customer" name="search" [(ngModel)]="searchText"
              autocomplete="off">
          </form>


        </div>
        <div class="r">
          <button type="button" class="btn waves-effect rr" data-toggle="modal" data-target="#myModal"> + ADD CUSTOMER</button>

        </div>
        <div class="s">
          <a class="btn "><i class="fa fa-bell ss "></i></a>
          <div class="dropdown img"><img src="../assets/images/gee3.jpg" class="dropdown-toggle sss" data-toggle="dropdown">
            <ul class="dropdown-menu">
              <li><a href="/signin">LOG OUT</a></li>
            </ul>
          </div>
        </div>
        <p class="asw">Customer</p>
        <div class="x">
          <div class="y">
            <a href="#" class="btn waves-effect yy"><i class="fa fa-filter "> </i><span class="filter">FILTER</span></a>
          </div>
          <div class="z">
            <button type="button" class="btn btn-info btn-lg zz" data-toggle="modal" data-target="#myModal"><i class="fa fa-user ">
              </i> <span class="add">ADD CUTOMERS</span></button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->

                <div class="modal-content modal-box">
                  <form [formGroup]="addForm" class="form-horizontal">
                    <div class="modal-header" style="background-color:#E61E44">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title modal-top">Add a New Customer</h4>
                    </div>
                    <div class="modal-body">

                      <div class="form-group">
                        <label class="control-label col-sm-2 modal-label" for="name">NAME</label>
                        <div class="col-sm-10">
                          <input type="text" formControlName="name" class="form-control modal-text" id="name" name="name"
                            [(ngModel)]="model.name" placeholder="Enter name">
                        </div>
                      </div>
                      <div *ngIf="!addForm.controls['name'].valid&&addForm.controls['name'].dirty" class="cc ">
                        name required
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2 modal-label" for="phone">PHONE</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control modal-text" id="phone" formControlName="phone" name="phone"
                            [(ngModel)]="model.phone" placeholder="Enter phone">
                        </div>
                      </div>
                      <div *ngIf="!addForm.controls['phone'].valid&&addForm.controls['phone'].dirty" class="cc">
                        number required
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2 modal-label" for="email">EMAIL</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control modal-text" id="email" formControlName="email" name="email"
                            [(ngModel)]="model.email" placeholder="Enter email">
                        </div>
                      </div>
                      <div *ngIf="!addForm.controls['email'].valid&&addForm.controls['email'].dirty" class="cc ">
                        mail required
                      </div>

                    </div>
                    <div class="modal-footer">
                      <div class="form-group">
                        <div class="col-md-12">
                          <button type="button" class="btn btn-default modal-but-close" data-dismiss="modal">CLOSE</button>
                          <button class="btn btn-default modal-but-create" data-dismiss="modal" (click)="addMember()">CREATE</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>




          </div>
        </div>
      </div>
      <div class="action">
        <!--        
          <table matSort (matSortChange)="sortData($event)">
              <tr>
                <th mat-sort-header="name">Dessert (100g)</th>
                <th mat-sort-header="calories">Calories</th>
                <th mat-sort-header="fat">Fat (g)</th>
                <th mat-sort-header="carbs">Carbs (g)</th>
                <th mat-sort-header="protein">Protein (g)</th>
              </tr>
            
              <tr *ngFor="let dessert of sortedData">
                <td>{{dessert.name}}</td>
                <td>{{dessert.calories}}</td>
                <td>{{dessert.fat}}</td>
                <td>{{dessert.carbs}}</td>
                <td>{{dessert.protein}}</td>
              </tr>
            </table>
        -->
        <table matSort (matSortChange)="sortData($event)" class="table">
          <thead>
            <tr>
              <th mat-sort-header="name" style=" width: 200px; padding-left: 11px;height: 40px;font-family: 'Open Sans';">NAME
              </th>
              <th style="width:300px;padding-left: 16px;font-family: 'Open Sans'">PHONE</th>
              <th style="width:400px;padding-left: 16px;font-family: 'Open Sans'">EMAIL</th>
              <th style="width:200px;padding-left: 16px;font-family: 'Open Sans'">ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mem of sortedData | filter:searchText" style="height:45px">
              <td class="td">{{mem.name}}</td>
              <td class="td">{{mem.phone}}</td>
              <td class="td">{{mem.email}}</td>
              <td>

                <button type="button" class="btn bt" (click)="editMember(i)" data-toggle="modal" data-target="#myModal2"><i
                    class="fa fa-edit edit ">
                  </i></button>

                <!-- Modal -->
                <div class="modal fade" id="myModal2" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content modal-box">
                      <div class="modal-header" style="background-color:#E61E44">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title modal-top">Edit Customer</h4>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label class="control-label col-sm-2 modal-label" for="name">NAME</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control modal-text" id="name" name="name" [(ngModel)]="model2.name"
                                placeholder="Enter name">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-2 modal-label" for="phone">PHONE</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control modal-text" id="phone" name="phone" [(ngModel)]="model2.phone"
                                placeholder="Enter phone">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-2 modal-label" for="email">EMAIL</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control modal-text" id="email" name="email" [(ngModel)]="model2.email"
                                placeholder="Enter email">
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <div class="form-group">
                          <div class="col-md-12">
                            <button type="button" class="btn btn-default modal-but-close" data-dismiss="modal">CLOSE</button>
                            <button type="submit" class="btn btn-default modal-but-create" data-dismiss="modal" (click)=" updateMember()">UPDATE</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>





                <button type="button" class="bt  btn-danger" data-toggle="modal" data-target="#confirmDelete"><i class="fa fa-trash trash "></i></button>
                <!--Modal: modalConfirmDelete-->
                <div class="modal fade" id="confirmDelete" tabindex="-4" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                    <!--Content-->
                    <div class="modal-content text-center modal-box-del">
                      <!--Header-->
                      <div class="modal-header d-flex justify-content-center" style="background-color:#ff4669">
                        <p class="heading">Are you sure?</p>
                      </div>

                      <!--Body-->
                      <div class="modal-body " style="color:#ff4669">

                        <i class="fa fa-times fa-4x animated rotateIn"></i>

                      </div>

                      <!--Footer-->
                      <div class="modal-footer flex-center">
                        <button type="button" class="btn  waves-effect yes  " data-dismiss="modal" (click)="deleteMember(i)">YES</button>
                        <button type="button" class="btn  waves-effect no" data-dismiss="modal">NO</button>
                      </div>
                    </div>
                    <!--/.Content-->
                  </div>
                </div>
              </td>
            </tr>

          </tbody>

        </table>
      </div>

      <div class="action2">
        <div class="a1">
          <div class="form-group">
            <label class="cust" for="cust">Showing:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control cust1" id="cust1" name="cust1" value="30 customers">
            </div>
          </div>
        </div>
        <div class="a2">
          <div class="round">&lt;</div>
          <div class="round">1</div>
          <div class="round">2</div>
          <div class="round">3</div>
          <div class="round">4</div>
          <div class="round">&gt;</div>
        </div>
        <div class="a3">
          <div class="form-group">
            <label class="cu" for="cu">Total customer:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control cu1" id="cu1" name="cu1" value="14,250">
            </div>
          </div>



        </div>
      </div>
      