.container-fluid {
    width: 100%;
    margin:0px;
    padding:0px;
    height: 897px;
}
    
.back
{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    position:relative;
    
}
.aa
{
    margin: 0 auto;
    width: 89%;
    height: 700px;
    box-shadow: 17px 28px 40px #888888;
    background-color:#ffd3db;
    position: absolute;
    top: 93px;
    left: 90px;
}
.a
{
    background-color:#ff4669;
    width: 235px;
    height: 700px;
    position: absolute;
    left: 0px;

}
.second
{
    height:24px;
    width:235px;
    position: absolute;
    left: 0px;
    top: 92px;
}
.basic
{
    border-radius: 10px;
    width: 52px;
    height: 16px;
    color:#ffd3db;
    background-color: #E61E44;
    border: none;
    font-family: 'Open Sans';
    font-size: 9px;
    position: absolute;
    right: 18px;
}
.basic1
{
    border-radius: 25px;
    width: 160px;
    height: 32px;
    background-color: #fff;
    color: #E61E44;
    border: none;
    font-family: 'Open Sans';
    font-size: 11px;
    position: absolute;
    bottom: 92px;
    left: 38px;
    padding-top: 2px;
}
.red{
    font-family: 'Open Sans';
    font-size: 22px;
    color: white;
    margin-left: 24px;
    margin-top: 17px;
}
.red1
{
    font-family: 'Open Sans';
    font-size: 11px;
    color:#ffd3db;
    margin-left: 24px;
    margin-top: -11px;
    position:relative;
}
.red2
{
    font-size: 12px;
    color: #ffd3db;
    text-align: center;
    position: absolute;
    bottom: 127px;
    left: 28px;
    font-family: 'Open Sans';
   
}

.vertical-menu {
    width: 235px;
    /* border-left: 4px solid; */
}

.home{
    text-decoration: none;
    width: 235px;
    color: #ffd3db;
    font-family: 'Open Sans';
    font-size: 14px;
    padding-left: 12px;
}

.vertical-menu a {
    background-color: #ff4669;
    display: block;
    padding: 12px;
    text-decoration: none;
    width: 235px;
    color: #ffd3db;
    font-family: 'Open Sans';
    font-size: 14px;
    padding-left: 39px;
    /* border-left: 4px solid; */
}


.vertical-menu a:hover {
    background-color: #E61E44;
    border-left: 4px solid;
}

.vertical-menu a.active {
    background-color: #E61E44;
    color:#ffd3db;
    border-left: 4px solid;
}
.b
{
    background-color: #f5f5f5;
    right:0px;
    height: 700px;
    position: absolute;
}
.nav
{
    height: 54px;
    background-color: white;;
    margin-left: -14px;
    margin-right: -15px;
    
}
.p{
    height: 54px;
    width: 190px;
    float: left;

}
.pp
{
    background-color: white;
    outline: none;
    border: none;
    margin-top: 17px;
    margin-left: 27px;
    font-size:14px;
    font-family: 'Open Sans';
}
.q{
    height: 54px;
    width: 450px;
    float: left;
}
    
.qq
{
    height: 42px;
    width: 372px;
    background-color:#f5f5f5;
    border-radius: 52px;
    margin-top: 6px;
    border: none;
    outline: none;
    margin-left: 12px;
    padding-left: 46px;
   
    
}
.qqq
{
    border: none;
    outline: none;
    margin-left: 12px;
    color:gray;
    font-size: 15px;
    position: absolute;
    left: 241px;
    top: 19px;
   
}
.r{
    height: 54px;
    width: 304px;
    float: left;
    margin-left: 100px;
    color: #ff4669;
    font-weight: bold;
    background-color: white;

  
}
.rr{
    font-size: 14px;
    outline: none;
    border: none;
    margin-top: 11px;
    box-shadow: none;
    margin-left: 105px;
    background-color: white;
    font-family: 'Open Sans';
}
.s{
    height: 54px;
    width: 100px;
    float: left;
}
.ss
{
        border: none;
    outline: none;
    margin-left: 7px;
       margin-top: 13px;
    color: gray;
    font-size: 15px;
    
}
.sss
{
    width: 27px;
    height: 27px;
    border-radius: 20px;
    margin-top: -59px;
    margin-left: 56px;
}
.x
{
    height: 34px;
    width: 300px;
    margin-left: 66%;
    margin-top: 30px;
    float: left;

}
.y
{
    height: 34px;
    width: 106px;
       float:left;
    
}
.table {
    width: 100%;
    max-width: 100%;
    border: 1px solid #e8e8e8;
}
.yy
{
    color: #ff4669;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 19px;
    width: 112px;
    height: 34px;
    padding-top: 8px;
    font-size: 14px

}
.filter
{
    border: none;
    outline: none;
    border-radius: 19px;
    width: 112px;
    height: 34px;
    padding-top: 8px;
    font-size: 14px;
    padding-left: 7px;

}
.z
{
    height: 34px;
    width: 183px;
    margin-left: 11px;
    float:left;
    
}
.zz
{
    background-color: #ff4669;
    color: white;
    border: none;
    outline: none;
    border-radius: 19px;
    width: 190px;
    height: 34px;
    padding-top: 9px;
    font-size: 14px;
}
.add
{
   
    border: none;
    outline: none;
    border-radius: 19px;
    width: 190px;
    height: 34px;
    padding-top: 9px;
    font-size: 14px;
    font-family: 'Open Sans';
    padding-left: 11px;
}
.action
{
   background-color: white;

    width: 993px;
    height: 414px;
    margin-left: 75px;
    margin-top: 83px;
    overflow: auto;
}

.action2
{
    
    width: 993px;
    height: 54px;
    float:left;
    margin-left: 75px;
    
}
.a1{
   
    width: 189px;
    height: 54px;
    float:left;
}
.a2
{
    
    width: 361px;
    height: 54px;
    float: left;
    margin-left: 125px;
}
.a3
{
    
    width: 200px;
    height: 54px;
    float:left;
    margin-left:118px;

}
.cust
{
    color: gray;
    margin-left: 7px;
    font-size: 14px;
    margin-top: 22px;
    }
.cust1
{
    color: #ff4669;
    font-size: 14px;
    border: 0;
    outline: none;
    width: 100px;
    padding-left: 3px;
    margin-left: 50px;
    margin-top: -34px;
    background-color:#f5f5f5;
    box-shadow: none;
}
.cu
{
    color: gray;
    margin-left: 27px;
    font-size: 14px;
    margin-top: 22px;
    }
.cu1
{
    color: #ff4669;
    font-size: 14px;
    border: 0;
    outline: none;
    width: 58px;
    padding-left: 3px;
    margin-left: 120px;
    margin-top: -34px;
    background-color: #f5f5f5;
    box-shadow: none;
}
.round
{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top: 16px;
    margin-left: 22px;
    float: left;
    background-color: #e4dfe0;
    color: gray;
    padding-left: 11px;
    padding-top: 4px;
}
.asw
{
    color: black;
    font-size: 23px;
    position: absolute;
    left: 90px;
    top: 88px;
}
.bt {
    margin-left: 5px;
    background-color: #E8E8E8;
    border: none;
    color: rgb(95, 95, 95);
    padding-top: 1px;
    padding-left: 1px;
    cursor: pointer;
    border-radius: 26px;
    width: 37px;
    height: 37px;
}
.yes{
    height: 50px;
    width: 146px;
    margin: opx;
    margin-left: 0px;
    background-color:#ff4669;
    font-family: 'Open Sans';
    color: white;
}
.no{
    height: 50px;
    width: 146px;
    background-color: #333333;
    font-family: 'Open Sans';
    color: white;

}

/* Darker background on mouse-over */
.bt:hover {
    background-color: #ff4669;
}
.modal-box
{
    width: 655px;
    height: 372px;
    margin-top: 220px;
}
.modal-box-del
{
    width: 329px;
    height: 235px;
    margin-top: 78%;
    margin-left: 13px;
}
.modal-top
{
    text-align:center;
    color:white;
    font-size:20px;
    font-family: 'Open Sans';
}
.modal-label
{
    text-align: center;
    color: #7b7777;
    font-size: 17px;
    margin-top: 4px;
    font-family: 'Open Sans';

}
.modal-text
{
    
    background-color:#fbeef2 ;
    height:44px;
    width:500px;
    padding-left:2px;
    font-family: 'Open Sans';

}
.modal-but-create
{
    height: 50px;
    width: 295px;
    background-color:#e61e44;
    font-family: 'Open Sans';
    color: white;
}
.modal-but-close
{
    height: 50px;
    width: 293px;
    background-color: #333333;
    font-family: 'Open Sans';
    color: white;
}
.td{
    width: 200px;padding-left:17px;height: 45px;padding-top: 16px;font-family: 'Open Sans';
}
.edit
{
    margin-top: 10px;
    margin-left: 12px;
}
.trash
{
    margin-top: 3px;
    margin-left: 6px;
}

