<!--The content below is only a placeholder and can be replaced.-->

<!-- <h1>
    Welcome to {{ title }}!</h1> -->


<div class="container alert alert-primary animated  flipInX delay-0.3s" role="alert">
  <div class="row aa ">
    <div class="col-sm-6 a">
      <div style="text-align:center">
        <!-- <i class="material-icons" style="font-size:60px;color:white;text-shadow:2px 2px 4px lightblue;margin-top:7px;">computer</i> -->
        <img src="../assets/images/top.png" class="top">
        <p class="para">Be part of our awesome team and</p>
        <p class="para1">have fun with us</p>
        <!-- <p><i class="w3-jumbo w3-spin fa fa-refresh " style="color:white;text-shadow:2px 2px 4px lightblue;margin-top:117px;"></i></p> -->
        <img src="../assets/images/downn.png" class="down">
      </div>
    </div>
    <div class="col-sm-6 b">
      <div class="btn-group">
        <!-- <nav>
                  <button  type="button"  class="in"><a routerLink="/list" routerLinkActive="active">Sign In</a></button>
            </nav> -->
        <button type="button" class="in" routerLink="/dash">Sign In</button>
        <button type="button" class="up" routerLink="/signup">Sign Up</button>

      </div>
      <!-- 



          
                               <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="control-label g">FULL NAME</label>
              <input type="text" placeholder="Enter your full name" formControlName="firstName" class="form-control custom-input lab"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label gg">PASSWORD</label>
              <input type="password" placeholder="xxxxxxxxx" formControlName="password" class="form-control custom-input lab"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label gg">EMAIL</label>
              <input type="text" placeholder="Enter your email address" formControlName="email" class="form-control custom-input lab"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
            <label class="con"><p class="chec">By Signing up your agree
                <a href="html_images.asp" class="ll">Terms and Conditions</a>  </p>
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
              
    
            <div class="form-group">
              <button class="btn" routerLink="/dash">Sign Up</button>
            </div>
          </form>
         -->

      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label g">FULL NAME</label>
          <input type="text" placeholder="Enter your full name" formControlName="firstName" class="form-control custom-input lab">
        </div>
        <div *ngIf="!signinForm.controls['firstName'].valid&&signinForm.controls['firstName'].dirty" class="cc ">
          name is required
        </div>
        <div class="form-group">
          <label class="control-label gg">PASSWORD</label>
          <input type="password" placeholder="xxxxxxxxx" formControlName="password" class="form-control custom-input lab">
        </div>
        <div *ngIf="!signinForm.controls['password'].valid&&signinForm.controls['password'].dirty" class="cc ">
          password is required with 6 characters
        </div>
        <div class="form-group">
          <button class="btn"[disabled]="signinForm.invalid" >Sign In</button>
        </div>
      </form>

    </div>
  </div>
</div>
<!-- <div *ngIf="show">
  <button (click)="g()" >hellow</button>
</div> -->