<nav>
    <div><a routerLink="/signin" routerLinkActive="active"></a></div>
    <div><a routerLink="/dash" routerLinkActive="active"></a></div>
    <div><a routerLink="/crud" routerLinkActive="active"></a></div>
    <div><a routerLink="/sort" routerLinkActive="active"></a></div> 
    <div><a routerLink="/signup" routerLinkActive="active"></a></div>
    <div><a routerLink="/array" routerLinkActive="array"></a></div>
</nav>
<router-outlet></router-outlet>    