.s{
   
    font-family: Lato;
    color: red;
    text-align: center;
    width: 97px;
    height:160px;
    font-size: 23px;
    border: 1px solid black;
   
  }
  .box
  {
    width:70px;
    height:30px;
   cursor: pointer;
    
  }
  .box2

  {
    color:blue;
    width:97px;
    height:30px;
    border:1px solid black;
    font-size: 23px;
    cursor: pointer;
  }