<h1> {{ name }}</h1>
<div class="s">
  <div class="box" *ngFor="let item of names; let i = index;" (click)="removeItem(i)"> {{item}}

  </div>
</div>
<div class="box2" *ngFor="let de of del;" (click)="pushItem(i)">{{de}}</div> 