<div class="container alert alert-primary animated  flipInX delay-0.3s" role="alert">
  <div class="row aa">
    <div class="col-sm-6 a">
      <div style="text-align:center">
        <!-- <i class="material-icons" style="font-size:60px;color:white;text-shadow:2px 2px 4px lightblue;margin-top:7px;">computer</i> -->
        <img src="../assets/images/top.png" class="top">
        <p class="para">Be part of our awesome team and</p>
        <p class="para1">have fun with us</p>
        <!-- <p><i class="w3-jumbo w3-spin fa fa-refresh " style="color:white;text-shadow:2px 2px 4px lightblue;margin-top:117px;"></i></p> -->
        <img src="../assets/images/downn.png" class="down">
      </div>
    </div>
    <div class="col-sm-6 b">
      <div class="btn-group">
      
        <button type="button" class=" in" routerLink="/signin">Sign In</button>
        <button type="button" class="up" routerLink="/signup">Sign Up</button>

      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label g">FULL NAME</label>
          <input type="text" placeholder="Enter your full name" formControlName="firstName" class="form-control custom-input lab">
        </div>
        <div *ngIf="!registerForm.controls['firstName'].valid&&registerForm.controls['firstName'].dirty" class="cc ">
          name is required
        </div>
        <div class="form-group">
          <label class="control-label gg">PASSWORD</label>
          <input type="password" placeholder="xxxxxxxxx" formControlName="password" class="form-control custom-input lab">

        </div>
        <div *ngIf="!registerForm.controls['password'].valid&&registerForm.controls['password'].dirty" class="cc ">
          password is required with 6 characters
        </div>


        <div class="form-group">
          <label class="control-label gg">EMAIL</label>
          <input type="text" placeholder="Enter your email address" formControlName="email" class="form-control custom-input lab">
        </div>
        <div *ngIf="!registerForm.controls['email'].valid&&registerForm.controls['email'].dirty" class="cc ">
          email is required
        </div>
        <div class="con">
          <input type="checkbox" id="check">
          <label class="link" for="check">By Signing up you agree our <u>Terms
              and conditions</u></label>
        </div>

        <div class="form-group">
          <button class="btn" [disabled]="!registerForm.valid">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- 
<ul>
    <li>Account related information is collected in association with your use of our Services</li>
    <li>such as account number, purchases, when products renew or expire, information requests,</li>
    <li>support requests and notes or details explaining what you asked for and how we responded.</li>
    <li>Cookies and similar technologies on our websites allow us to track your browsing behaviour,</li>
    <li>links clicked, items purchased, your device type, and to collect various data, including
      analytics, about how you use and interact with our Services.</li>
    <li>This allows us to provide you with more relevant product offerings, a better experience on our
      sites and mobile applications, and to collect, analyse and improve the performance of our Services.</li>
    <li>We may also collect your location (IP address) so that we can personalise our Services.</li>
  </ul> -->