.body{
    background-color:black;
}

.container
{
    background-color: #EDEDE6;
    width:80%;
    height:849px;
}
.aa
{
    margin: 0 auto;
    width: 952px;
    height: 696px;
    margin-top: 74px;
    margin-left: 139px;
    box-shadow: 0px 17px 65px 5px #888888;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    
}

.a
{
    background-color:  #DA5A51;
    width:50%;
    height: 696px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.b
{
    background-color:#10243D;
    width:50%;
    height: 696px;
    border-bottom-right-radius: 12px;
    border-top-right-radius:12px;
}
.para
{
    color: #E3A796;
    font-family: 'Open Sans';
    font-size: 22px;
    margin-top: 74px;
    margin-left: -3px;
    
}
.para1
{
    color: #E3A796;
    font-family: 'Open Sans';
    font-size: 22px;
    margin-top: -13px;
    margin-left: -1px;
}
.g
{
    color: rgb(235, 212, 206);
    font-family: 'Open Sans';
    font-size: 13px;
    text-align: left;
    margin-left: 48px;
    margin-top: 98px;
}
.gg
{
    color: rgb(235, 212, 206);
    font-family: 'Open Sans';
    font-size:13px;
    margin-top: 21px;
    text-align: left;
    margin-left: 48px; 
}
.cc{
    color: red;
    font-family: 'open sans';
    padding-left: 47px;
}
.lab
{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    box-shadow: none;
    background-color: #0D223B;
    color: rgb(235, 212, 206);
    margin-left: 48px;
    margin-top: 4px;
    width: 347px;
       padding-left: 0px;
    padding-bottom: 18px;
    border-radius: 0px;
}
.link
{
    margin-left: 0px;
}
.in 
{
    background-color: #1B3F5F;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border: none;
    height: 27px;
    width: 66px;
    color:#ab9c98;
    margin-left: 301px;
    margin-top: 23px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size:11px;
    outline:none;
}
.in1
{
    background-color: #1B3F5F;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border: none;
    height: 27px;
    width: 66px;
    color:#ab9c98;
    margin-left: 301px;
    margin-top: 23px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size:11px;
    outline:none;
}
.in:hover {
    background-color: #D3574F;
    /* color:white; */
}
.up:hover {
    background-color: #1B3E64;
    /* color:white; */
}
/* .up:active {
    background-color: #4CAF50;
    color: white;
} */
.up
{
    background-color: #D3574F;
    border-bottom-right-radius: 22px;
    border-top-right-radius:22px;
    border: none;
    height: 27px;
    width: 66px;
    margin-top: 23px;
    color:#ab9c98;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size:11px;
    outline:none;
}
.down
{
    margin-top: 25px;
    width: 387px;
    height: 324px;
    margin-left: 14px
}
.top
{
    margin-top: 10px;
    width: 78px;
    height: 60px;
    margin-left: 5px;
}
.chec
{
    color: rgb(108, 117, 125);
    margin-left: 57px;
    padding: 0px;
    margin-top: -18px;
    font-family: 'Open Sans';
    font-size: 13px;
    position: relative;
    top: 49px;
    left: -14px;
}
.ll
{
    color: rgb(108, 117, 125);
    background-color: #10243d;
    border: none;
}

a:hover {
    color: rgb(108, 117, 125);
    background-color: transparent;
    text-decoration: underline;
   
}
.con {
    display: block;
    margin-bottom: 15px;
    margin-left: 48px;
   
}

/* Hide the browser's default checkbox */
.con input {
    padding: 0;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    height: initial;
    width: 100%;
}


.checkmark[_ngcontent-c1] {
    position: absolute;
    /* top: 51px; */
    left: -29px;
    height: 17px;
    width: 17px;
    background-color: #D3574F;
}
.con label{
    position: relative;
    margin-top: 15px;
    cursor: pointer;
    color: #ebd4ce;
    font-size: 14px;
}
.con label::before{
    content:"";
    -webkit-appearance: none;
    background-color: #DA5A51;
    box-shadow: none;
    padding: 8px;
    display: inline-block;
    position:relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right:5px;
}
.con input:checked + label :after
{
 content:" ";
 display:block;
 position: absolute;
 top:4px;
 left:8px;
 width:4px;
 height:12px;
 border:solid black;
 border-width:0 2px 2px 0;
 -webkit-transform:rotate(45deg);
 transform:rotate(45deg);
}




/* When the checkbox is checked, add a blue background */
.con input:checked ~ .checkmark {
    background-color: #D3574F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.con input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.con .checkmark:after {
    left: 4px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn
    {   font-family: 'Open Sans';
        font-size: 15px;
        background-color: #D3574F;
        border-radius: 22px;
        border: none;
        height: 31px;
        width: 118px;
        color: #E3A796;
        margin-left: 48px;
        margin-top: 25px;
        outline:none;
        padding-top: 5px;
 }
 .btn:hover{
    background-color: #1B3E64;
 }
 .btn-close
 {
    font-family: 'Open Sans';
    font-size: 15px;
    background-color: #D3574F;
    border-radius: 22px;
    border: none;
    height: 31px;
    width: 118px;
    color: #E3A796;
    margin-left: 48px;
    margin-top: 25px;
    outline:none;
    padding-top: 5px;
 }